<div id="addDialog" class="dialog">
  <h2>Add New Wallet</h2>

  <div class="addDialog">
    <div class='radiogroup'>
      <div><input type='radio' name='crypto' value='btc' id='btc-button' checked/> <label for="btc">Bitcoin</label></div>
      <div><input type='radio' name='crypto' value='eth' id='eth-button'/> <label for='eth'>Ethereum</label></div>
      <div><input type='radio' name='crypto' value='ltc' id='ltc-button'/> <label for='ltc'>Litecoin</label></div>
    </div>
    <div>
      <input type="text" class="textinput" id="wallet-address" placeholder="Account address"> <button class='button' id="add-wallet-button">Add</button>
    </div>
  </div>
</div>
<div class='overlay'>

</div>
