<div id="addDialog" class="dialog">

  <h4 class="dialog-header">Add Tokens</h4>

  <div id="choose-add-type-dialog" class="column">
    <button class="button" id="address-dialog-button">Link Wallet with Portfolio</button>
    
    <h4 class="dialog-header centered-row">Or</h4>

    <button class="button" id="manual-dialog-button">Add Coins Manually</button>
  </div>

  <div id="address-add-dialog">
    <div class="centered-row">
      <div class="currency-button currency-button-selected" id='btc-button'>
        <img src="img/BTC.svg" alt="Bitcoin" class="currency-img">
        <p>Bitcoin</p>
      </div>
      <div class="currency-button" id='eth-button'>
        <img src="img/ETH.svg" alt="Ethereum" class="currency-img">
        <p>Ethereum</p>
      </div>
    </div>
    
    <div class="column">
      <h4 class="dialog-header">Address</h4>

      <input type="text" class="textinput" id="wallet-address" placeholder="Account address 0x66265740183020...">
      <p id="already-exists-error">Address already added to portfolio</p>
      <button class='button' id="add-wallet-button" disabled="true">Link Wallet</button>
    </div>
  </div>

  <div id="manual-add-dialog">
    <div class="column">
      <select id="coin-list" class="select-list">      
        <option value="btc">Bitcoin</option>
        <option value="eth">Ethereum</option>
        <option value="ltc">Litecoin</option>
        <option value="bch">Bitcoin Cash</option>
        <option value="etc">Ethereum Classic</option>
        <option value="xrp">Ripple</option>
        <option value="xmr">Monero</option>
        <option value="zec">Zcash</option>
        <option value="dash">Dash</option>
      </select>

      <h4 class="dialog-header">Amount</h4>
      <div class="line-separator"></div>  

      <div>
        <input type="text" class="textinput quantity-input" id="coin-qty" placeholder="0.00"><span class="metric">BTC</span>
      </div>

      <h4 class="dialog-header">Buy Price</h4>
      <div class="line-separator"></div>  

      <div>
        <input type="text" class="textinput quantity-input" id="coin-qty" placeholder="0.00"><span class="metric">USD</span>
      </div>

      <button class='button' id="" disabled="true">Add Coins to Portfolio</button>
    </div>
  </div>

</div>
<div class='overlay'>

</div>
