<script src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<!-- <script type="text/javascript" src="graphs.js"></script> -->

<div class="gainers-container">

</div>

<div id='chart_div'>
  <center><h1>Bitcoin</h1></center>
  <span class='curprice' style='font-size: 15px;'></span>
  <svg class="linechart" id="graph" height="250" width="600" style="display:block">
  </svg>
</div>

<!-- <script type="text/javascript" src="charts.js"></script> -->
<script type="text/javascript" src="charts-backbone.js"></script>
