<div class = "portfolio">
  <div class = "Group-Header-portfolioItem">
    <div class="portfolio-header">
      <h2>Your Portfolio</h2>
      <button type="submit" value="submit" id="addDialog-button">Add</button>
    </div>
    <div class="portfolioHeading">
        <div class="portfolio-item">
          <div class="CryptoCurrencyType">Coin</div>
          <div class="Percent-of-Portfolio">%age of wallet</div>
          <div class="CryptoCurrencyVal">Amount</div>
          <div class="USD">Amount in USD</div>
        </div>
    </div>
    <% include portfolioItem %>
  </div>

  <div class="section-footer portfolio-total-balance">
    Total Balance = $1
  </div>
</div>
