<div class="sidebar">
  <div class="header">
    <h1 class="sidebar-header"><a href="/dashboard" class="sidebar-content">Coindex</a></h1>
  </div>

  <div>
    <a href="/coin/btc" class="sidebar-content">Bitcoin</a>
    <a href="/coin/bch" class="sidebar-content">Bitcoin Cash</a>
    <a href="/coin/eth" class="sidebar-content">Ethereum</a>
    <a href="/coin/etc" class="sidebar-content">Ethereum Classic</a>
    <a href="/coin/ltc" class="sidebar-content">Litecoin</a>
    <a href="/coin/dash" class="sidebar-content">Dash</a>
    <a href="/coin/xmr" class="sidebar-content">Monero</a>
    <a href="/coin/zec" class="sidebar-content">Zcash</a>
    <a href="/coin/xrp" class="sidebar-content">Ripple</a>
  </div>

  <div>
    <a href="#" class="sidebar-content sidebar-logout" id="signout-button">Logout</a>
  </div>
</div>
