<div class="sidebar" style="width:12%">
  <div>
    <h1><a href="#" class="sidebar-content">Coindex</a></h1>
  </div>

  <div>
    <a href="#" class="sidebar-content sidebar-logout">Logout</a>
  </div>

</div>
