<div class="sidebar" style="width:12%">
  <div>
    <a href="#" class="sidebar-content sidebar-header">Coindex</a>

    <a href="#" class="sidebar-content">Link 1</a>
    <a href="#" class="sidebar-content">Link 2</a>
    <a href="#" class="sidebar-content">Link 3</a>
  </div>

  <div>
    <a href="#" class="sidebar-content sidebar-logout">Logout</a>
  </div>

</div>
