<div class="sidebar">
  <div class="header">
    <h1 class="sidebar-header"><a href="/dashboard" class="sidebar-content">Coindex</a></h1>
  </div>

  <div>
    <a href="#" class="sidebar-content sidebar-logout" id="signout-button">Logout</a>
  </div>
</div>
