<div class="transaction-container">
    <!-- <div class="transaction-common transaction-date-container">OCT 10</div>
    <div class="transaction-common transaction-type--graphic">AB</div>
    <div class="transaction-common transaction-type--text">Sent Ethereum</div>
    <div class="transaction-common transaction-value">-1.1010100043 <span>ETH</span></div> -->
</div>
