<!-- <div class="transaction">
  <div class="section-header">
    <h2>Recent Transactions</h2>
  </div>
</div>
 -->

<div class = "portfolio">
    <div class = "Group-Header-portfolioItem transaction">
      <div class="portfolio-header">
        <h2>Recent Transactions</h2>
      </div>
      <div class="portfolioHeading">
          <div class="portfolio-item">
            <div class="CryptoCurrencyType" style="flex: 0.8">Date</div>
            <div class="CryptoCurrencyVal" style="flex: 1.2">Action</div>
            <div class="USD" style="flex: 1">Amount</div>
          </div>
      </div>
    </div>
  </div>
