*{
  margin: 0;
  padding: 0;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #F4F7FA;

  margin: 0px;

  display: flex;
  flex-direction: column;
}

a{
  color: white;
  text-decoration: none;
}

.signin {
  margin-top: 50px;
  padding: 18px;
  padding-left: 32px;
  padding-right: 32px;
  border: 0;
  border-radius: 2px;
  font-size: 24px;
  background: #FFF;
  color: #547AA5;
}

.login {
  height: 100vh;
  width: 100vw;
  background-color: #547AA5;
}

h2 {
  font-weight: normal;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo{
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url("/style/logo.png");
  margin-bottom: 22px;
}

.header-title {
  font-size: 84px;
  padding-left: 20px;
  font-weight: normal;
}

.column {
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.content p{
  font-style: italic;
  font-weight: 200;
  font-size: 15px;
}

.description{
  max-width: 200px;
}

.sidebar {
  background-color: #547AA5;
}

.sidebar-content {
  float: none;
  display: block;
  padding: 10px;
}

.sidebar-header {
  font-size: 50px;
}

.sidebar-logout {
  margin-bottom: 35px;
}

.main-body {
  width: 100%;
}

.centered-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select-list {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;

  position: relative;

  background-color: white;
  padding: 16px;
  margin-bottom: 8px;
}

.line-separator {
  height: 1px;
  border-bottom: 1px solid #a6b1ba;
  margin-top: 8px;
  margin-bottom: 18px;
}

.quantity-input {
  padding-right: 20px;
}

.metric {
  height:0px;
  overflow:visible;
  pointer-events:none;
  background:none !important;
  margin-left:-50px;
  margin-top: 26px;
  color: #a6b1ba;
}

.main {
  display: flex;
  flex-direction: row;
}
