.gainers-container {
  width: 85%;
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: center;
}

.g-name {
  color: #326771;
  font-weight: bold;
}

.g-sym {
  font-size: 12px;
}

.price-c {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.gainer {
  padding: 8px;
  background: #FFF;
  border-radius: 5px;
  margin: 2px;
}

span.g-price {
  font-size: 16px;
}

span.g-perc {
  font-size: 12px;
  color: green;
}

.red {
  color: red!important;
}

.name-c {
  display: flex;
  align-items: flex-start;
}

.chart_div {
  position: relative;
}

.line {
  stroke-width: 2;
  /* stroke: #7D95B6; */
  stroke: #547AA5;
}

.circle {
  /* stroke: #7D95B6; */
  stroke: #547AA5;
  fill: none;
  stroke-width: 2;
}

.linechart_path {
  stroke: #FFB119;
  stroke-width: 3;
  fill: none;
}

.linechart_area {
  fill: #FFECC6;
}

.curprice {
  width: 100px;
  display: inline-block;
  text-align: center;
  color: #547AA5;
  border-radius: 5px;
  border: 0;
}

.y-label {
  position: absolute;
  font-family: Helvetica;
  font-size: 12px;
  color: #B4B4B4;
}

.y-left {
  left: -40px;
}

.y-right {
  right: -40px;
}

.y-bottom {
  bottom: 20px;
}
