.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.title-symbol-icon {
    height: 70px;
    width: 70px;
    margin-right: 20px;
}
.title-name {
    font-size: 40px;
    padding-right: 10px;
    font-weight: normal;
}

.title-symbol {
    padding-bottom:8px;
    padding-right: 40px;
    color: #999999;
}

.market-summary-container {

}

#market-summary-title *{
    padding-top: 40px;
    width: 250px;


}

#market-summary-content *{
    padding-top: 20px;
    width: 250px;

}
