.title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 40px;
}

.title-symbol-icon {
    height: 100px;
    width: 100px;
}
.title-name {
    font-size: 70px;
    padding: 0 30px;
    font-weight: normal;
}

.title-symbol {
    padding-bottom:18px;
}
