.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.title-symbol-icon {
    height: 80px;
    width: 80px;
}
.title-name {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: normal;
}

.title-symbol {
    padding-bottom:8px;
    color: #999999;
}
