.header {
  background-color: #326771;
  color: white;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h1{
  padding: 10px 0px 10px 10px;
}

.header .logout{
  padding-right: 10px;
}

.header .logout{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-header{
  background-color: white;
  color: #2164CB;
  font-size: 12px;
}

.sub-header p{
  padding: 10px 0px 10px 10px;
}

.components{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.graph{
  width: 80%;
  height:50%;

  border: solid;
  border-width: thin;
  border-radius: 5px;

  background-color: white;
}

.portfolio-transaction{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  height: 40%;
}

.dialog h2 {
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  display: block;
}

.button {
  border: 0;
  color: #FFF;
  font-weight: bolder;
  background: #326771;
  border-radius: 5px;
  padding: 10px;
}

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.radiogroup {
  display: flex;
  flex-direction: column;
}

.addDialog {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
