.portfolio{
  background: #FFF;
  padding: 15px;
  border-radius: 5px;
  font-family: Helvetica, serif;
  color: #547AA5!important;
  width: 47%;
  min-height: 210px;
}

.portfolio-transaction-container {
  margin-top: 15px;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dialog {
  display: none;
  width: 450px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;

  margin: auto;
}

.dialog-header {
  font-size: 18px;
  color: #547AA5;
  margin-top: 18px;
  margin-bottom: 10px;
}

.textinput {
  padding: 12px;
  min-width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #DAE1E9;
  font-size: 18px;
  margin-bottom: 10px;
}

.Group-Header-portfolioItem{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.portfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.portfolio-header h2 {
  display: inline-block;
}

.portfolio-header button{
  border: none;
  background: #547AA5;
  color: #FFF;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 16px;
  cursor: pointer;
}

.portfolio-item-container{
  width: 100%;
  max-height: 20%;
}

.portfolio-item{
  display: flex;
  font-size: 12pt;
  padding: 20px;
}

.portfolioHeading {
  font-weight: bolder!important;
  color: #547AA5!important;
}

.portfolio-item div{
  flex: 1;
}

.section-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;

    color: #A8B8CD;
    font-size: 14px;

    border-top: solid;
    border-width: thin;
    border-bottom-color: lightgray;
}

.currency-button {
  width: 124px;
  height: 105px;
  margin: 8px;
  border: 1px solid #DAE1E9;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.currency-button:hover {
  border: 1px solid #4E5C6E;
}

.currency-button-selected {
  border: 1px solid #59A96A;
}

.currency-img {
  width: 42px;
  height: 42px;
  padding: 6px;
}

.error-message {
  color: #DB5461;
  font-size: 12px;
  margin-bottom: 10px;
  display: none;
}

#address-add-dialog {
  display: none;
}

#manual-add-dialog {
  display: none;
}

#address-dialog-button {
  margin-top: 12px;
  margin-bottom: 12px;
}

#manual-dialog-button {
  margin-top: 12px;
  margin-bottom: 12px;
}
