<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Coindex</title>
  <link rel="stylesheet" href="style/app.css">
  <link rel="stylesheet" href="style/dashboard.css">
  <link rel="stylesheet" href="style/portfolio.css">
  <link rel="stylesheet" href="style/transaction.css">
  <link rel="stylesheet" href="style/chart.css">
</head>

<body>
  <div class='main'>
    <% include partials/sidebar %>

    <div class="main-body">
      <div class="components">
        <div>
          <% include partials/chart %>
        </div>

        <!-- There must be a better way to do this @Yash? -->
        <script type="text/javascript">
          var selectedManualType = "btc";
          function selectManualCoinType(selector) {
            selectedManualType = selector.options[selector.selectedIndex].value;
            console.log(selectedManualType);
          }
        </script>
        <% include partials/addDialog %>

        <div style='display: flex; width: 85%;margin-top:15px;justify-content: space-between;'>
          <% include partials/portfolio %>
          <% include partials/transaction %>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="dashboard.js"></script>
</body>
</html>
