<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Coindex</title>
  <link rel="stylesheet" href="style/app.css">
</head>

<body>
  <main role="main"></main>
  <div class="login">
    <div class="header">
      <div class="landing-pic">
        <div class="logo"></div>
        <h1>Coindex</h1>
      </div>
    </div> 
    <div class=content>
      <h2> A Decentralized Cryptocurrency Portolio Manager </h2>
      <div class="description"></div>
        <p>
          Cryptocurrency token portfolio manager built on top of blockstack<br />
        </p>
        <p>
          <a href="#" class="vfgs" id="signin-button">
            Login
          </a>
        </p>
      </div>
    </div> 
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>
</html>
