<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Coindex</title>
  <link rel="stylesheet" href="style/app.css">
</head>

<body>
  <div class="login content">
    <div class="header">
      <div class="logo"></div>
      <h1 class="header-title">Coindex</h1>
    </div>
    <div class="content">
      <h2>The Most Featureful Decentralized Cryptocurrency Portolio Manager</h2>
      <button class="signin" id="signin-button">
        Log in with Blockstack
      </button>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>
</html>
